export LOG_PRETTY="true"
export LOG_VERBOSE="true"
export PLACEKIT_KEY="pk_zbMvkygl/3GCWTV8Bmmqo3ttomFmqAuaLOOn2xKCo+4="
export WEATHERAPI_KEY="2f48465f13fb4758ba953406240410"
export OPENWEATHER_KEY="68f71e93a8fb6ea7359455861f9f93cd"
